language: python

notifications:
  email:
    - sdk_dev@couchbase.com

branches:
  except:
    - failing-tests

env:
  - CB_URL="http://packages.couchbase.com/releases/1.8.0/couchbase-server-community_x86_1.8.0.deb" CB_DEB="couchbase-server-community_x86_1.8.0.deb" CB_VER="1.8.0" CB_CONFIG_CMD=""
  - CB_URL="http://builds.hq.northscale.net/latestbuilds/couchbase-server-community_x86_1.8.1-916-rel.deb" CB_DEB="couchbase-server-community_x86_1.8.1-916-rel.deb" CB_VER="1.8.1" CB_CONFIG_CMD="cbflushctl localhost:11210 set flushall_enabled true"
  - CB_URL="http://packages.couchbase.com/builds/1482/couchbase-server-community_x86_2.0.0-1482-rel.deb" CB_DEB="couchbase-server-community_x86_2.0.0-1482-rel.deb" CB_VER="2.0.0" CB_CONFIG_CMD="cbepctl localhost:11210 set flush_param flushall_enabled true"

python:
  - "2.6"
  - "2.7"

before_install:
  - sudo service memcached stop
  - wget -q $CB_URL
  - sudo dpkg -i $CB_DEB
  - sudo chmod a+x cluster_connect
  - ./cluster_connect -n 1
  - cp test.ini.template test.ini
  - $CB_CONFIG_CMD

install:
  - pip install nose-testconfig coverage requests

script: python setup.py nosetests
