requests
nose==1.3.0
pbr==1.8.1
numpydoc==0.4
sphinx==1.6.4
testresources>=0.2.7
jsonschema==2.6.0
configparser==3.5.0
testfixtures==5.4.0
basictracer==2.2.0
zipkin==0.1.0
pyparsing==2.2.0
configparser2
parameterized==0.6.1
utilspie==0.1.0
python-vagrant>=0.5.15
