attrs==21.2.0
Automat==20.2.0
autopep8==1.6.0
certifi==2021.10.8
cfgv==3.3.1
charset-normalizer==2.0.7
constantly==15.1.0
distlib==0.3.4
filelock==3.4.2
hyperlink==21.0.0
identify==2.4.10
idna==3.3
importlib-metadata==4.11.0
incremental==21.3.0
iniconfig==1.1.1
nodeenv==1.6.0
packaging==21.2
platformdirs==2.5.0
pluggy==1.0.0
pre-commit==2.17.0
py==1.11.0
pycodestyle==2.8.0
pyparsing==2.4.7
pytest==6.2.5
pytest-asyncio==0.17.2
PyYAML==6.0
requests==2.26.0
six==1.16.0
toml==0.10.2
Twisted==21.7.0
urllib3==1.26.7
virtualenv==20.13.1
zipp==3.7.0
zope.interface==5.4.0
