include *.txt *.rst LICENSE
include couchbase_version.py
recursive-include couchbase *.py
recursive-include src *.c *.h
recursive-include docs *
recursive-exclude docs/build *
recursive-include tests *.py *.sample
recursive-include examples *.py
include couchbase libcouchbase.dll
exclude MANIFEST.in
include pyproject.toml
