include *.txt *.rst LICENSE
include *.py
include CMakeLists.txt
include cbuild_cfg.json
recursive-include cmake *
recursive-include couchbase *.py
recursive-include src *.c *.h
recursive-include docs *
recursive-exclude docs/build *
recursive-include tests *.py *.sample
recursive-include examples *.py
include couchbase libcouchbase.dll
exclude MANIFEST.in
include pyproject.toml
