# Typing support
typing-extensions==3.7.4.3; python_version<"3.7"
mypy_extensions

# Prevent installation of Python < 3 package on Windows.
pip>=20.0; sys_platform=="win32" and python_version<="2.7"

# General dependencies
pyrsistent>=0.15.2
six==1.15.0
attrs>=19.1.0; python_version>"3.5"
attrs==19.1.0; python_version<="3.5"
wrapt>=1.11.2
