[realserver]
host = localhost
port = 8091
admin_username = Administrator

; The administrative password. This is the password used to
; log into the admin console
admin_password = 123456

bucket_name = default
; If a SASL bucket is being used (i.e. buckets are set up
; per the script, then this is the *bucket* password
; bucket_password sasl_password
bucket_password =

; Set this to true if there is a real cluster available
enabled = True

[mock]
; Set this to enabled to use the mock
enabled = True
; Local path for the mock
path = /tmp/CouchbaseMock-1.0.0-g50cf222.jar
; Where to download it, if not available
url = http://packages.couchbase.com/clients/c/mock/CouchbaseMock-LATEST.jar
