[node-1]
host = localhost
port = 8091
username = Administrator

; The administrative password. This is the password used to
; log into the admin console
password = opensesame

bucket_prefix = default
; If a SASL bucket is being used (i.e. buckets are set up
; per the script, then this is the *bucket* password
; bucket_password sasl_password
bucket_password =

; If using an existing cluster with the simple 'default' bucket,
; set this to 0. If your cluster was set up with the 'setup_tests.py'
; script, you may set this to 1
extra_buckets = 0

[mock]
; Set this to enabled to use the mock
enabled = 0
; Local path for the mock
path = /tmp/CouchbaseMock-0.5-SNAPSHOT.jar
; Where to download it, if not available
url = http://packages.couchbase.com/clients/python/snapshots/CouchbaseMock-0.6-SNAPSHOT.jar
