        # streaming operations
        self._op_map.update({
          {% for op in streaming_operations -%}
            StreamingOperationType.{{op.pretty_name}}.value: self._conn.pycbc_{{op.name}},
          {% endfor %}
        })
        {% for mgmt_group in mgmt_groups %}
        # {{mgmt_group.pretty_name}} management operations
        self._op_map.update({
          {% for op in mgmt_group.operations -%}
            {{mgmt_group.pretty_name}}MgmtOperationType.{{op.pretty_name}}.value: self._conn.pycbc_{{op.name}},
          {% endfor -%}
        })
        {% endfor %}

    def _load_kv_ops(self) -> PycbcConnectionKVOps:
        """**INTERNAL**"""
        return PycbcConnectionKVOps(
          # key-value operations
          {% for op in key_value_operations -%}
            {{op.name}} = self._conn.pycbc_{{op.name}},
          {% endfor -%}
          # key-value multi operations
          {% for op in key_value_multi_operations -%}
            {{op.name}}_multi = self._conn.pycbc_{{op.name}}_multi,
          {% endfor -%}
        )
